.ghostbtn {
    background-color: transparent;
    border: 2px solid #4c4c4c;
    color: #4c4c4c;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }