.heroabout {
    margin-top: 50px;
    background-image: url(../../public/images/hero-image.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    text-align: start;
    padding-bottom: 50px;
}
