.herobanner {
    background-image: url(../../public/images/hero-image.jpg);
    background-size: cover;
    height: 79vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}