@font-face {
  font-family: kaushan;
  src: url(../pages/font/KaushanScript-Regular.ttf);
}
@font-face {
  font-family: nobile-med;
  src: url(../pages/font/Nobile-Medium.ttf);
}
@font-face {
  font-family: nobile;
  src: url(../pages/font/Nobile-Regular.ttf);
}
html,
body {
  padding: 0;
  margin: 0 auto;
  background-color: #e7e7de;
}

* {
  box-sizing: border-box;
}
h1 {
    font-family: kaushan;
    color: #0f3057;
    text-align: center;
}
h2 {
  font-family: nobile;
  color: #0f3057;
  margin: 5px;
}
h3 {
  font-family: nobile;
  color: #0f3057;
}
h4 {
  font-family: nobile;
  color: #0f3057;
  margin: 5px;
}
h5 {
  font-family: nobile;
  color: #0f3057;
  margin: 5px;
  
}
p {
  font-family: kaushan;
  color: #00587a;
}
a {
  color: #008891;
  text-decoration: none;
}
.links {
  padding-left: 10px;
}
a:hover {
  text-decoration: underline 2px #008891;
}