.contactcontainer {
 display: grid;
 justify-items: center;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 height: 79vh;
 background-color: #e7e7de;
}
@media only screen and (max-width: 800px) {
    .contactcontainer {
        height: auto;
    }
}